# general things to ignore
build/
dist/
.venv/
.direnv/
*.spec
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~≈
.envrc
.python-version
.idea
.pytest_cache

# due to using tox and pytest
.tox
.cache
.mypy_cache
