# general things to ignore
build/
dist/
.venv/
.direnv/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~≈
.env
.envrc
.idea
.pytest_cache

# due to using tox and pytest
.tox
.cache
.mypy_cache

# Poetry
# For libraries, poetry.lock is often not committed
# For applications, it should be committed
poetry.lock
