flask==1.1.2
numpy==1.20.0
pillow==9.0.0
scikit-image==0.19.1
torch==1.9.1
torchvision==0.10.1
waitress==1.4.4
tqdm==4.51.0
requests==2.24.0
scipy==1.5.4
pymatting==1.1.1
filetype==1.0.7
matplotlib==3.5.1
