name: Publish to Pypi

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    publish_pypi:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v5
            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                  virtualenvs-create: true
                  virtualenvs-in-project: true
            - name: Install dependencies
              run: |
                  poetry self add "poetry-dynamic-versioning[plugin]"
                  poetry install --with dev --extras "cpu cli"
            - name: Build and publish to PyPI
              run: |
                  poetry build
                  poetry publish
              env:
                  POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PIPY_PASSWORD }}

    test_install:
        needs: publish_pypi
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.13"]

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Wait for PyPI to update
              run: sleep 60
            - name: Install from PyPI
              run: pip install rembg[cpu,cli]
            - name: Test installation
              run: |
                  attempt=0
                  until rembg d || [ $attempt -eq 5 ]; do
                      attempt=$((attempt+1))
                      echo "Attempt $attempt to download the models..."
                  done
                  if [ $attempt -eq 5 ]; then
                      echo "downloading the models failed 5 times, exiting..."
                      exit 1
                  fi
                  rembg --version
